<section class="vh-100 bg-image">
  <div   class="mask d-flex align-items-center h-100 gradient-custom-3">
    <div class="container h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-12 col-md-9 col-lg-7 col-xl-6">
          <div class="card" style="border-radius: 15px;">
            <div class="card-body p-5">
              <h2 class="text-uppercase text-center mb-5">Create an account</h2>

              <form [formGroup]="addskillForm">

                <div class="form-group ">
                  <label>Full name</label>
                  <input class="form-control" formControlName="SkillName">
                </div>
                <div *ngIf="addskillForm.controls.SkillName.invalid">
                  <p style="color:red;" >skillName is required</p>

                </div>



                <div class="d-flex justify-content-center">
                  <button type="button"  [disabled]="!addskillForm.valid"
                     class="btn btn-success btn-block btn-lg gradient-custom-4 text-body  " (click)=onSubmit() >REGISTER</button>
                </div>

              </form>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

