

<div class=" row">
  <div class="col-12">
      <nav class="navbar navbar-expand navbar-dark bg-dark text-white">
         <ul class="navbar-nav ml-auto">
            <li class="nav-item" >
                  <a class="nav-link text-white" [routerLink]="['/user/registration']" >CREATE ACCOUNT</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-white" [routerLink]="['/skill']">ADD SKILL</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-white" [routerLink]="['/home']">ALL CANDIDATS</a>
            </li>
         </ul>
     </nav>
  </div>
</div>

<router-outlet></router-outlet>
