
  <input type="text" name="search" [(ngModel)]="searchText" placeholder="Search by name or date">
<table      class="table table-striped"  >

  <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Name</th>
      <th scope="col">Email</th>
      <th scope="col">Date Of Birth</th>
      <th scope="col">Contact Number</th>
      <th scope="col">Skills</th>

    </tr>
  </thead>
  <tbody >
    <tr *ngFor="let pom of this.users"   >
      <td >{{pom.id}}</td>
     <td >{{pom.name}}</td>
     <td >{{pom.email}}</td>
     <td >{{pom.dateOfBirth}}</td>
      <td >{{pom.contactNumber}}</td>
      <input     type="button" value="view or edit" class="btn btn-primary" (click)="Edit(pom)">




  </tbody>
</table>



